body {
    background: rgba(186,164,119,0.3);
    border-top: 1px solid transparent;
    margin-top: -1px;
    font-family: "Source Code Pro",Consolas,Menlo,Monaco,"Courier New",monospace;
}
button {
    border: none;
    background: none;
    outline: none;
}
input, textarea{
    -webkit-appearance: none;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    opacity: .8;
    background: #c1866a;
    border-radius: 4px;
    transition: all .5s;
}


/* nprogress styles */
/* Make clicks pass-through */

#nprogress {
    pointer-events: none;
}
#nprogress .bar {
    /* background: #29d; */
    background: #c1866a;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}


/* Fancy blur effect */

#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #c1866a, 0 0 5px #c1866a;
    opacity: 1.0;
    transform: rotate(3deg) translate(0px, -4px);
}


/* Remove these to get rid of the spinner */

#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: #c1866a;
    border-left-color: #c1866a;
    border-radius: 50%;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}